*{
	margin: 0px;
	padding: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Source Sans Pro', sans-serif;
}
a, a:hover{
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}

/*Reen Project code start here*/
/*header-section code start here*/
.header-section{
	width: 100%;
}
.top-header{
	width: 100%;
	background: #f5f7fa;
	padding: 5px 0px;
}
.top-header .inner-info ul{
	margin: 0px;
	padding: 0px;
	display: block;
}
.top-header .inner-info li{
	list-style-type: none;
	display: inline-block;
}
.top-header .inner-info ul li a{
	font-size: 14px;
	font-weight: 600;
	color: #506a85;
	margin-right: 15px;
}
.top-header .inner-info ul li a:hover{
	font-size: 14px;
	font-weight: 600px;
	color: #00bc9c;
}
.top-header .inner-info ul li a .fa{
	margin-right: 10px;
}
.top-header .socila-icons ul{
	margin: 0px;
	padding: 0px;
	display: block;
	text-align: right;
}
.top-header .socila-icons li{
	list-style-type: none;
	display: inline-block;
}
.top-header .socila-icons li a{
	font-size: 14px;
	font-weight: 600;
	color: #506a85;
	margin-left: 15px;
}
.top-header .socila-icons li a:hover{
	font-size: 14px;
	font-weight: 600px;
	color: #00bc9c;
}
.top-header .socila-icons a .fa{
	margin-left: 10px;
}
.main-menu{
	width: 100%;
}
.main-menu .bg-light{
	background: transparent !important;
}
.main-menu .navbar-light .navbar-nav .active>.nav-link{
	color:#506a85;
}
.main-menu .navbar-light .navbar-nav .nav-link{
	color:#506a85;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0px 15px;
	transition: .5s;
}
.main-menu .navbar-light .navbar-nav .nav-link:hover,.main-menu .navbar-light .navbar-nav .nav-link:focus{
	color: #00bc9c;
}
.main-menu .fa-search{
	color:#506a85;
	font-size: 14px;
	font-weight: 700;
	transition: .5s;
}
.main-menu .fa-search:hover,.main-menu .fa-search:focus{
	color: #00bc9c;
}
/*header section code end here*/
/* slider section css code start here */
.slider-section{
	width: 100%;
}
.slider-section .carousel-caption{
	bottom: 30% !important;
} 
.slider-section .carousel-caption h2{
	font-size: 50px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.slider-section .carousel-caption p{
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 26px;
	font-weight: 600;
	color: #a3b1bf;

}
.carousel-caption .btn-info{
	padding: 15px 35px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #fff;
	background: #00bc9c;
	border: 1px solid #00bc9c;
	transition: 1s;
	margin: 30px 0px 0px;

}
.carousel-caption .btn-info:hover{
	color: #00bc9c;
	background: transparent;
	border: 1px solid #00bc9c;
}
/* slider section css code end here */
/* who-section code start here */
.who-section{
	width: 100%;
	padding: 80px 0px;
}
.who-section .title{
	width: 100%;
	padding: 0px 0px 30px;
	text-align: center;
}
.who-section .title h2{
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a3b1bf;
}
.who-section .title p{
    width: 58%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #506a85;
}
.who-section .media{
	padding: 30px 0px 0px;
}
.who-section .media-body {
	padding: 0px 10px;
}
.who-section .media-body p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
}
.who-section .media-body h5{
	font-size: 20px;
	font-weight: 600;
	text-transform: capitalize;
	color: #a3b1bf;
	margin-bottom: 15px;
}
/* who-section code end here */
/*portfolio-section code start here*/
.portfolio-section{
	width: 100%;
	padding: 80px 0px;
	background: #f2f5f7;
} 
.portfolio-section .title{
	width: 100%;
	padding: 0px 0px 30px;
	text-align: center;
}
.portfolio-section .title h2{
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #a3b1bf;
}
.portfolio-section .title p{
	width: 60%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	color: #506a85;
	
}
.portfolio-section .card .card-title{
	font-size: 18px;
	font-weight: 600;
	color: #506a85;
	text-align: center;
}
.portfolio-section .card .card-text{
	font-size: 14px;
	font-weight: 600;
	color: #73879c;
	text-align: center;
}
.portfolio-section .owl-carousel{
	width: 100%;
	padding: 60px 0px 0px;
}
.portfolio-section .owl-theme .owl-nav.disabled+.owl-dots{
    margin-top: 30px;
}
.portfolio-section .owl-theme .owl-dots .owl-dot.active span,.portfolio-section .owl-theme .owl-dots .owl-dot span:hover{
	background: #00bc9c;
}
/*portfolio-section code end here*/